<nav class="sidebar sidebar-offcanvas" id="sidebar" style="height: 100%;">
    <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
      <a class="sidebar-brand brand-logo" routerLink=""><img src="assets/images/logo.svg" alt="logo"></a>
      <a class="sidebar-brand brand-logo-mini pl-4 pt-3" routerLink=""><img src="assets/images/logo-mini.svg" alt="logo"></a>
    </div>
    <hr class="mb-4">
    <ul class="nav">
      <!-- <li class="nav-item nav-profile">
        <a href="#" class="nav-link">
          <div class="nav-profile-image">
            <img src="assets/images/faces/face1.jpg" alt="profile">
            <span class="login-status online"></span>
            <!--change to offline or busy as needed--
          </div>
          <div class="nav-profile-text d-flex flex-column pr-3">
            <span class="font-weight-medium mb-2">Henry Klein</span>
            <span class="font-weight-normal">$8,753.00</span>
          </div>
          <span class="badge badge-danger text-white ml-3 rounded">3</span>
        </a>
      </li> -->
      <li class="nav-item" [routerLinkActive]="'active'">
        <a class="nav-link" [routerLink]="'/branch'">
          <i class="mdi mdi-home menu-icon"></i>
          <span class="menu-title">Branches</span>
        </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <i class="mdi mdi-crosshairs-gps menu-icon"></i>
          <span class="menu-title">Basic UI Elements</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
              <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pages/ui-features/dropdowns.html">Dropdowns</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pages/ui-features/typography.html">Typography</a>
            </li>
          </ul>
        </div>
      </li> -->
      <li class="nav-item" [routerLinkActive]="'active'">
        <a class="nav-link" [routerLink]="'/product'">
          <i class="mdi mdi-contacts menu-icon"></i>
          <span class="menu-title">Product</span>
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="'active'">
        <a class="nav-link" [routerLink]="'/product-category'">
          <i class="mdi mdi-format-list-bulleted menu-icon"></i>
          <span class="menu-title">Product / Category</span>
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="'active'">
        <a class="nav-link" [routerLink]="'/product-m-category'">
          <i class="mdi mdi-chart-bar menu-icon"></i>
          <span class="menu-title">Product Main Category</span>
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="'active'">
        <a class="nav-link" [routerLink]="'/product-type'">
          <i class="mdi mdi-table-large menu-icon"></i>
          <span class="menu-title">Product / Type</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <span class="nav-link" [routerLink]="'/product-unit'">
          <i class="mdi mdi-buffer menu-icon"></i>
          
          <span class="menu-title">Product / Unit</span>
        </span>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="'/stores'">
          <i class="mdi mdi-store menu-icon"></i>
          <span class="menu-title">Stores</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="'/user-accounts'">
          <i class="mdi mdi-account-settings menu-icon"></i>
          <span class="menu-title">User Accounts</span>
        </a>
      </li>

      <!-- <li class="nav-item sidebar-actions">
        <div class="nav-link">
          <div class="mt-4">
            <div class="border-none">
              <p class="text-black">Notification</p>
            </div>
            <ul class="mt-4 pl-0">
              <li>Sign Out</li>
            </ul>
          </div>
        </div>
      </li> -->
    </ul>
  </nav>
