<div class="row">
    <div class="col-lg-12 text-center">
        <h3 class="mb-2">Branches Table</h3>
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Yvonne Lopez</td>
                                    <td>7/20/2000 14:10</td>
                                    <td>(946) 896-6565</td>
                                    <td>3853 Eloise St, Wilkinstown AL 94780</td>
                                </tr>
                                <tr>
                                    <td>Lopez Lopez</td>
                                    <td>5/23/2016 10:07</td>
                                    <td>(873) 596-6432</td>
                                    <td>7678 Glover Pl, Parkertown LA 66502</td>
                                </tr>
                                <tr>
                                    <td>Lela Yvonne</td>
                                    <td>8/23/2005 10:24</td>
                                    <td>(214) 525-2027</td>
                                    <td>6873 Luis Pl, Gloverville IA 81466</td>
                                </tr>
                                <tr>
                                    <td>Glover Smith</td>
                                    <td>7/13/2010 03:18</td>
                                    <td>(853) 138-7960</td>
                                    <td>7639 Parker Cir, Lopezburg AL 27021</td>
                                </tr>
                                <tr>
                                    <td>Wilkins Parker</td>
                                    <td>11/5/2021 04:01</td>
                                    <td>(670) 683-9920</td>
                                    <td>196 Guadalupe Blvd, Yvonneville MA 64671</td>
                                </tr>
                                <tr>
                                    <td>Roosevelt Eloise</td>
                                    <td>3/20/2008 01:35</td>
                                    <td>(735) 103-8375</td>
                                    <td>692 Copeland Cir, Copelandtown AR 70227</td>
                                </tr>
                                <tr>
                                    <td>Lopez Miles</td>
                                    <td>2/27/2013 00:45</td>
                                    <td>(677) 884-4436</td>
                                    <td>3170 Roosevelt Dr, Bishoptown FL 95580</td>
                                </tr>
                                <tr>
                                    <td>Lela Guadalupe</td>
                                    <td>9/12/2009 11:24</td>
                                    <td>(406) 571-3725</td>
                                    <td>3699 Calvin Cir, Tuckertown FL 17601</td>
                                </tr>
                                <tr>
                                    <td>Parker Deanna</td>
                                    <td>6/13/2014 00:23</td>
                                    <td>(302) 689-5852</td>
                                    <td>1798 Lopez Dr, Calvinburg MO 38090</td>
                                </tr>
                                <tr>
                                    <td>Lopez Darin</td>
                                    <td>1/23/2006 12:24</td>
                                    <td>(645) 467-8776</td>
                                    <td>3882 Yvonne Dr, Guadalupetown IL 89753</td>
                                </tr>
                                <tr>
                                    <td>Smith Parker</td>
                                    <td>2/3/2013 03:11</td>
                                    <td>(585) 306-2390</td>
                                    <td>775 Eloise Dr, Copelandburg ME 22073</td>
                                </tr>
                                <tr>
                                    <td>Wilkins Lela</td>
                                    <td>1/5/2001 04:25</td>
                                    <td>(540) 254-9613</td>
                                    <td>8457 Parker St, Calvinville AR 14195</td>
                                </tr>
                                <tr>
                                    <td>Parker Deanna</td>
                                    <td>2/22/2022 02:37</td>
                                    <td>(329) 481-8665</td>
                                    <td>2232 Eloise Cir, Simonburg GA 82189</td>
                                </tr>
                                <tr>
                                    <td>Tucker Bishop</td>
                                    <td>10/20/2015 04:02</td>
                                    <td>(804) 120-1306</td>
                                    <td>8961 Lopez Blvd, Guadalupeville AL 82439</td>
                                </tr>
                                <tr>
                                    <td>Yvonne Darin</td>
                                    <td>3/20/2014 10:14</td>
                                    <td>(831) 711-1254</td>
                                    <td>4699 Parker Cir, Lucilleville MT 44817</td>
                                </tr>
                                <tr>
                                    <td>Simon Lela</td>
                                    <td>7/7/2019 00:44</td>
                                    <td>(890) 242-1296</td>
                                    <td>7604 Calvin Cir, Copelandville MA 79423</td>
                                </tr>
                                <tr>
                                    <td>Glover Lucille</td>
                                    <td>7/10/2005 04:47</td>
                                    <td>(426) 822-8358</td>
                                    <td>1829 Yvonne Blvd, Milesburg ME 60483</td>
                                </tr>
                                <tr>
                                    <td>Copeland Wilkins</td>
                                    <td>2/11/2003 10:32</td>
                                    <td>(535) 881-4041</td>
                                    <td>7896 Luis St, Deannaburg MD 50227</td>
                                </tr>
                                <tr>
                                    <td>Glover Lucille</td>
                                    <td>9/7/2000 10:31</td>
                                    <td>(831) 282-5008</td>
                                    <td>2799 Yvonne St, Lelaburg MT 25207</td>
                                </tr>
                                <tr>
                                    <td>Yvonne Wilkins</td>
                                    <td>11/27/2008 01:16</td>
                                    <td>(446) 839-6647</td>
                                    <td>3460 Wilkins Cir, Yvonneville VT 75922</td>
                                </tr>
                                <tr>
                                    <td>Lucille Bishop</td>
                                    <td>10/12/2014 02:17</td>
                                    <td>(865) 854-6231</td>
                                    <td>8687 Parker Pl, Parkerville AZ 74155</td>
                                </tr>
                                <tr>
                                    <td>Glover Tucker</td>
                                    <td>2/24/2014 10:38</td>
                                    <td>(654) 271-7173</td>
                                    <td>6822 Luis Blvd, Lelaville AZ 36585</td>
                                </tr>
                                <tr>
                                    <td>Lela Simon</td>
                                    <td>8/17/2016 03:02</td>
                                    <td>(336) 691-8693</td>
                                    <td>9836 Simon Cir, Yvonneburg ND 47973</td>
                                </tr>
                                <tr>
                                    <td>Guadalupe Eloise</td>
                                    <td>8/11/2015 00:28</td>
                                    <td>(843) 260-8864</td>
                                    <td>6341 Luis St, Yvonneburg PA 42210</td>
                                </tr>
                                <tr>
                                    <td>Miles Smith</td>
                                    <td>4/14/2005 04:30</td>
                                    <td>(432) 326-9993</td>
                                    <td>868 Parker Cir, Wilkinsburg MO 28084</td>
                                </tr>
                                <tr>
                                    <td>Lucille Miles</td>
                                    <td>4/23/2010 00:20</td>
                                    <td>(825) 645-4261</td>
                                    <td>9682 Yvonne Pl, Parkertown KY 33155</td>
                                </tr>
                                <tr>
                                    <td>Miles Lela</td>
                                    <td>11/8/2004 11:03</td>
                                    <td>(536) 231-7986</td>
                                    <td>1189 Lopez St, Milesville TX 84067</td>
                                </tr>
                                <tr>
                                    <td>Deanna Smith</td>
                                    <td>3/3/2011 01:40</td>
                                    <td>(647) 984-1199</td>
                                    <td>6405 Parker Pl, Darinburg MA 91517</td>
                                </tr>
                                <tr>
                                    <td>Lucille Eloise</td>
                                    <td>9/1/2010 10:48</td>
                                    <td>(239) 888-3895</td>
                                    <td>3852 Yvonne Blvd, Copelandville CO 69321</td>
                                </tr>
                                <tr>
                                    <td>Copeland Wilkins</td>
                                    <td>6/23/2016 04:15</td>
                                    <td>(592) 847-9451</td>
                                    <td>2555 Luis Blvd, Tuckerburg CA 98449</td>
                                </tr>
                                <tr>
                                    <td>Lopez Guadalupe</td>
                                    <td>2/10/2020 14:45</td>
                                    <td>(983) 876-8211</td>
                                    <td>4325 Calvin St, Calvinburg AL 75456</td>
                                </tr>
                                <tr>
                                    <td>Guadalupe Bishop</td>
                                    <td>5/10/2021 04:44</td>
                                    <td>(623) 747-9526</td>
                                    <td>1883 Guadalupe Dr, Simonburg KS 16217</td>
                                </tr>
                                <tr>
                                    <td>Lela Lucille</td>
                                    <td>2/13/2008 14:43</td>
                                    <td>(931) 577-2398</td>
                                    <td>6221 Glover Blvd, Copelandtown LA 37196</td>
                                </tr>
                                <tr>
                                    <td>Tucker Miles</td>
                                    <td>11/24/2013 01:37</td>
                                    <td>(421) 927-8248</td>
                                    <td>8294 Luis Blvd, Parkerburg IL 44984</td>
                                </tr>
                                <tr>
                                    <td>Bishop Bishop</td>
                                    <td>9/24/2012 03:25</td>
                                    <td>(300) 323-8481</td>
                                    <td>9265 Lopez St, Eloisetown MT 37722</td>
                                </tr>
                                <tr>
                                    <td>Wilkins Bishop</td>
                                    <td>8/17/2007 01:25</td>
                                    <td>(615) 374-1809</td>
                                    <td>1876 Glover Dr, Wilkinstown SC 23348</td>
                                </tr>
                                <tr>
                                    <td>Deanna Tucker</td>
                                    <td>3/26/2000 13:13</td>
                                    <td>(830) 540-2253</td>
                                    <td>8854 Roosevelt Pl, Lucilleburg WI 61473</td>
                                </tr>
                                <tr>
                                    <td>Copeland Bishop</td>
                                    <td>4/10/2021 10:20</td>
                                    <td>(489) 244-3649</td>
                                    <td>9473 Smith Cir, Bishoptown CA 82162</td>
                                </tr>
                                <tr>
                                    <td>Guadalupe Calvin</td>
                                    <td>6/11/2013 13:24</td>
                                    <td>(560) 310-9875</td>
                                    <td>4707 Miles St, Luisville UT 79378</td>
                                </tr>
                                <tr>
                                    <td>Lopez Guadalupe</td>
                                    <td>9/22/2013 03:30</td>
                                    <td>(950) 454-2594</td>
                                    <td>7720 Deanna St, Luisville ND 94925</td>
                                </tr>
                                <tr>
                                    <td>Wilkins Darin</td>
                                    <td>1/16/2004 10:11</td>
                                    <td>(933) 606-9977</td>
                                    <td>1148 Copeland St, Eloiseburg RI 30156</td>
                                </tr>
                                <tr>
                                    <td>Yvonne Darin</td>
                                    <td>7/19/2002 00:04</td>
                                    <td>(694) 312-1383</td>
                                    <td>55 Deanna Pl, Gloverburg UT 18491</td>
                                </tr>
                                <tr>
                                    <td>Wilkins Lela</td>
                                    <td>6/4/2012 10:46</td>
                                    <td>(331) 654-9195</td>
                                    <td>1352 Luis St, Deannatown HI 46092</td>
                                </tr>
                                <tr>
                                    <td>Tucker Guadalupe</td>
                                    <td>5/14/2022 01:02</td>
                                    <td>(793) 883-3140</td>
                                    <td>1556 Deanna Blvd, Smithtown MI 35646</td>
                                </tr>
                                <tr>
                                    <td>Lopez Roosevelt</td>
                                    <td>10/13/2011 03:05</td>
                                    <td>(891) 872-7162</td>
                                    <td>4234 Guadalupe Dr, Tuckerville NY 86748</td>
                                </tr>
                                <tr>
                                    <td>Lucille Lucille</td>
                                    <td>9/10/2014 01:40</td>
                                    <td>(405) 523-4759</td>
                                    <td>861 Parker St, Parkerville AR 45870</td>
                                </tr>
                                <tr>
                                    <td>Darin Glover</td>
                                    <td>5/4/2001 11:21</td>
                                    <td>(700) 803-3222</td>
                                    <td>1211 Calvin Cir, Eloiseville GA 20280</td>
                                </tr>
                                <tr>
                                    <td>Guadalupe Guadalupe</td>
                                    <td>6/14/2011 04:28</td>
                                    <td>(595) 329-4557</td>
                                    <td>2746 Miles Pl, Yvonnetown MN 76247</td>
                                </tr>
                                <tr>
                                    <td>Roosevelt Lucille</td>
                                    <td>7/20/2010 01:24</td>
                                    <td>(733) 417-5435</td>
                                    <td>8009 Copeland Blvd, Lopezville KS 82653</td>
                                </tr>
                                <tr>
                                    <td>Simon Simon</td>
                                    <td>2/1/2007 10:17</td>
                                    <td>(339) 492-8835</td>
                                    <td>1000 Bishop Dr, Yvonneburg GA 16896</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>